html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.row-input-text {
    border-radius: 5px;
    border-color: #CCC;
    border-width: 1px;
    padding: 6px;
}

.row-input-date {
    border-radius: 5px;
    border-color: #CCC;
    border-width: 1px;
    padding: 6px;
}

.row-input-time {
    border-radius: 5px;
    border-color: #CCC;
    border-width: 1px;
    padding: 6px;
    width: 110px;
}

.gbg {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 19%, rgba(0,212,255,1) 100%);
}

.tr-btn {
    background-color: transparent;
    transition-duration: 0.25s;
    border: solid;
    border-width: 0.5px;
}

    .tr-btn:hover {
        background-color: rgba(0,212,255,1);
    }
