html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.row-input-text {
    border-radius: 5px;
    border-color: #CCC;
    border-width: 1px;
    padding: 6px;
}

.row-input-date {
    border-radius: 5px;
    border-color: #CCC;
    border-width: 1px;
    padding: 6px;
}

.row-input-time {
    border-radius: 5px;
    border-color: #CCC;
    border-width: 1px;
    padding: 6px;
    width: 110px;
}

.gbg {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
}

.tr-btn {
    background-color: transparent;
    color:#3CC;
    transition-duration: 0.25s;
    border: solid;
    border-width: 1px;
}

.tr-btn:hover {
    color:#FFF;
    background-color: #3CC;
}

.tr-btn-2 {
    background-color: #3CC;
    color: #FFF;
   
    transition-duration: 0.25s;
    border: solid;
    border-width: 1px;
}

.tr-btn-2:hover {
    color: #FFF;
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}
